.place__website-link {
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: 0.5s;
}

.place__website-link:hover {
  opacity: 0.8;
  transition: 0.5s;
}

@media screen and (max-width:767px){
  .place__website-link {
    padding: 0 16px;
  }
}